{% set node = nodes[inventory_hostname] %}
{% if node.services is defined %}
{%   for service in node.services %}
unp vxlan far-end-ip-list {{ service.name }} {{service.vteps|join(' ')}}
unp profile {{ service.name }} 
unp profile {{ service.name }} map service-type vxlan tag-value 0 vnid {{ service.vnid }} far-end-ip-list {{ service.name }}
{%     for interface in service.interfaces %}
unp port {{ interface }} port-type access
unp port {{ interface }} classification ap-mode dynamic-service vxlan
no unp port {{ interface }} 802.1x-authentication
no unp port {{ interface }} mac-authentication
unp port {{ interface }} admin-state enable
unp port {{ interface }} profile {{ service.name }}
unp classification vlan-tag {{ service.vlan }} profile1 {{ service.name }}
{%       endfor %}
{%   endfor %}
{% endif %}
