#
# Nodes in the network
#
{% macro core_link(name,ip,cost,vlan,remote) %}
{{name}}: { ip: {{ip}}, remote: {{remote}} {% if cost %}, cost: {{cost}}{% endif %} {% if vlan %}, vlan: {{vlan}}{% endif %}}{% endmacro %}

---

nodes:
{% for node in nodes %}

  {{ node.name }}:
    mgmt: {{ node.mgmt }}
    rid:  {{ node.rid }}

{% set count = namespace(foo=false) %}

{% if services is defined %}
{% for service in services %}
{% if node.rid in service.vteps and not count.foo %}
    services:
{% set count.foo = True %}
{% endif %}
{% if node.rid in service.vteps %}
      - name: {{service.name}}
        vtep:
{%    for host in service.vteps %}
{%      if host != node.rid %}
           - {{ host }} 
{%      endif %}
{%    endfor %}
        vnid: 
           - {{service.vnid}}
{%    for site in service.sites %}
{%       if site.vtep == node.rid %}
        interface: {{ site.interface }}
        vlan: {{ site.vlan }}
{%       endif %}
{%    endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}
